# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Application
NEXT_PUBLIC_APP_NAME=Rawal Hospital
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Features
NEXT_PUBLIC_ENABLE_TELEMEDICINE=false
NEXT_PUBLIC_ENABLE_CHAT=false
